# Temporary files
*~
*.swp

# TeX extra-files
*.aux
*.log
*.out
*.backup

# Object files
*.o

# header info files
*.d

# Don't include binaries. They are giving me a headache.
bin/

# Dolphin file manager directory files. Not sure what they do
.directory
